* {
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
}

body {
  background-image: url(./images/background.jpg);
}

header {
  display: flex;
  justify-content: center;
}

section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  margin-top: 80px;
  text-align: center;
  height: 150px;
  color: black;
  width: 500px;
  border: 15px solid black;
  background-image: url(./images/transparent_white.png);
}

.box2 {
  margin-top: 80px;
  text-align: center;
  height: 450px;
  width: 500px;
  color: black;
  border: 15px solid black;
  background-image: url(./images/transparent_white.png);
}

input {
  width: 200px;
  height: 40px;
}
.input {
  text-align: left;
}

.unten {
  display: flex;
  justify-content: center;
}
